// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-red: #8D2828;
$light-red: #D54C4C;
$dark-green: #D9DD6B;
$light-green: #ECEFA4;
