<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1 class="pt-3">Notifications</h1>
      <% @notifications.each do |notification| %>
        <%= link_to notification.url do %>
          <p class="title">
          <%= notification.content %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

    <% count = 0 %>
    <% @notifications.each do |notification| %>
      <% if notification.read == false %>
        <% count += 1 %>
      <% end %>
    <% end %>
    <%= count  %>
