<div class="page">
  <div class="footer">
    <div class="footer-links">
      <a href=""><i class="fa-light fa-magnifying-glass"></i></a>
      <a href=""><i class="fa-light fa-square-list"></i></a>
      <a href=""><i class="fa-light fa-house-blank"></i></a>
      <a href=""><i class="fa-light fa-heart"></i></a>
      <a href=""><i class="fa-light fa-user"></i></a>
    </div>
  </div>
</div>
