<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "biglogo.png", class: "mx-2" %>
      <%= "farmcity" %>
    <% end %>
  </div>
</div>
