<!-- Banner -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="banner">
        <h1> Let's find local producers near you! </h1>
        <br>
        <%= link_to ("Discover").html_safe, producers_path, class: "btn-red" %>
      </div>
    </div>
  </div>
</div>
