<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h3 class="form-title"> Edit producer </h3>
      <%= render "form", producer: @producer %>
    </div>
  </div>
</div>
