<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1 class="form-title"> Add a new producer </h1>

      <%= render "form", producer: @producer %>

    </div>
  </div>
</div>
