<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h3 class="form-title"> Add a new producer </h3>

      <!-- ajouter le render de form ici -->

    </div>
  </div>
</div>
