<div class="container">
  <div class="row justify-content-center">
    <div class="card-blog">
      <h1 class="title">
        <%= @post.title %>
      </h1>
      <div class="content">
        <%= @post.content %>
      </div>
    </div>
  </div>
</div>
