.btn-red{
  border-radius: 30px;
  padding: 8px 40px;
  margin: 0 10px;
  background-color: $light-red;
  color: white;
}
.btn-red:hover{
  background-color: white;
  color: $light-red;
  border: 1px solid $light-red;
}

.hidden{
  display: none;
}

.btn-link{
  margin: 0 10px;
  color: $light-red;
  text-decoration: none;
}

.btn-link:hover{
  color: $light-red;
  opacity: 0.8;
}

.btn-link-search{
  margin: 0 10px;
  color: $dark-red;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}

.btn-link-search:hover{
  color: $light-red;
  opacity: 0.8;
}
