// Producer Cards
.cards{
  // align-items: center;
  display: flex;
  flex-direction: column;
}

.animate {
  animation-duration: 0.4s;
  animation-duration: 0.5s; //running slower to show effect
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  animation-fill-mode: backwards;
}
.animate.slide { animation-name: animate-slide; }
  @keyframes animate-slide {
  0% {
  opacity: 0;
  transform: translate(0,20px);
  }
  100% {
      opacity: 1;
      transform: translate(0,0);
  }
}

.delay-2 {
  animation-delay: 0.2s;
  }

.card-producer {
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 10px 0;
  padding: 5px;
  transition: 0.4s;
  position: relative;
  flex-direction: column;
}

.card-producer:hover{
  transform: scale(1.01);
}
.card-producer i {
  position: absolute;
  right: 17px;
  bottom: 50px;
  color: white;
  font-size: 20px;

}

.card-producer img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card-producer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-producer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
}

.card-producer .card-producer-info {
  padding-left: 7px;
  padding-bottom: 7px;
}

// Product Cards
.cards-products {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap
}
.card-product {
  overflow: hidden;
  width: 45%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  flex-direction: column;
  min-height: 250px;
  max-height: 250px;
  justify-content: space-between;
}

.card-product-info {
  display: flex;
}

.card-product img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
  object-fit: contain;
  border-radius: 2px;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 2px;
}

.card-product .card-product-infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-product .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

// Reviews Cards

.card-review {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.card-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
}

.card-review i {
  color: $dark-green;
  font-size: 18px;
}

.card-review-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-review-user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Market Cards

.card-market {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.card-market img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card-market p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-market h2 {
  margin: 10px 0;
}

.card-blog {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 6px;
  margin: 8px 0;
  height: 107px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.card-description {
  // display: flex;
  // flex-direction: column;
  // align-content: space-around;
  padding-left: 5px;
}

.card-blog img {
  // height: 87px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card-description h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.card-description p {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-blog .avatar {
  height: 42px;
  width: 42px;
}

.card-id {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
