// Producer Cards
.cards{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-producer {
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 10px 0;
  padding: 5px;
  transition: 0.4s;
  position: relative;
  flex-direction: column;
  width: fit-content;
  max-width: 300px;
}

.card-producer:hover{
  transform: scale(1.01);
}
.card-producer i {
  position: absolute;
  right: 17px;
  bottom: 50px;
  color: white;
  font-size: 20px;
}

.card-producer img {
  height: 140px;
  width: 290px;
  object-fit: cover;
  border-radius: 3px;
}

.card-producer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-producer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-producer .card-producer-infos {
  padding: 16px;
}

// Product Cards
.cards-products {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}
.card-product {
  overflow: hidden;
  width: 45%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  flex-direction: column;
  min-height: 250px;
  max-height: 250px;
  justify-content: space-between;
}

.card-product-info {
  display: flex;
}

.card-product img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
  object-fit: contain;
  border-radius: 2px;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 2px;
}

.card-product .card-product-infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-product .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

// Reviews Cards

.card-review {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.card-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
}

.card-review i {
  color: $dark-green;
  font-size: 18px;
}


.card-review-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-review-user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Market Cards

.card-market {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.card-market img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card-market p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
}
