#searchbar {
  border-radius: 200px;
  margin: 20px 0;
}

#searchbar-index {
  border-radius: 200px;
  margin: 20px 0;
  background-color: $dark-red;
  color: white;
  padding: 12px 40px;
  margin: 10px;
}

#searchbar-index:hover {
  background-color: white;
  color: $dark-red;
  border: 1px solid $dark-red;
}

#searchbar-home {
  border-radius: 200px;
  margin: 20px 0;
  background-color: $dark-red;
  color: white;
  padding: 12px 40px;
  margin-bottom: 10px;
}

#searchbar-home:hover {
  background-color: white;
  color: $dark-red;
  border: 1px solid $dark-red;
}

.suggestions {
  display: none;
  list-style: none;
}
