.tabs {
  display: flex;
  justify-content: center;
}

// .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
//   padding: 5px;
//   background-color: $dark-green;
//   color: white;
//   font-size: 18px;
//   border-radius: 15px;
//   margin:0 35px;
// }

.nav-link {
  color: $dark-green;
  font-size: 18px;
  margin:0 35px;
}

.nav-link:hover {
  color: $dark-green;
  padding: 5px;
  font-size: 18px;
  border-radius: 15px;
  margin:0 35px;
  border: 2px solid $dark-green;
}

.nav-pills .nav-link.active {
  color: white;
  padding: 5px;
  font-size: 18px;
  border-radius: 15px;
  margin:0 35px;
  background-color: $dark-green;
}
