.tabs {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: $dark-green;
  font-size: 18px;
  margin:0 35px;
}

.nav-link:hover {
  color: $dark-green;
  padding: 5px;
  font-size: 18px;
  margin:0 35px;
  border-bottom: 2px solid #D9DD6B;
}

.nav-pills .nav-link.active {
  color: #D9DD6B;
  padding: 5px;
  font-size: 18px;
  /* border-radius: 15px; */
  margin: 0 35px;
  border-bottom: 2px solid #D9DD6B;
  background-color: #d9dd6b00;
}
