// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
//@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

// *= require loading_screen

$dark-red: #8D2828;
$dark-red: #8D2828;
$light-grey: #343a40;
$dark-green: #D9DD6B;
$light-green: #ECEFA4;

body{
  background: linear-gradient(180deg, rgba(255,254,230,1) 0%, rgba(254,254,251,1) 50%, rgba(255,254,230,1) 100%);
  font-family: 'Poppins', sans-serif;
  padding-top: 70px;
  padding-bottom: 80px;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  color: $dark-red;
  margin-bottom: 15px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: $light-red;
  margin: 10px 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  color: $dark-red;
  margin: 8px 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: $light-grey;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
  color: #8D2828;
}

.producers {
  margin-top: 10px;
}

.article-image img {
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}
