<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h3 class="form-title"> New Product </h3>
      <%= render "form", product: @product %>
    </div>
  </div>
</div>
